
*~
*$py.class
*.bak
build/
# Byte-compiled / optimized / DLL files
.cache
# C extensions
*.cover
.coverage
.coverage.*
coverage.xml
*.csv~
csv_files/
csv_files/*.csv
develop-eggs/
dist/
# Distribution / packaging
downloads/
.DS_Store
*.egg
*.egg-info/
.eggs/
eggs/
env/
# Exclude all CSV and ODS files in csv_files/ and ods_files/
htmlcov/
.hypothesis/
.installed.cfg
# Installer logs
.ipynb_checkpoints
# Jupyter Notebook
lib/
lib64/
*.log
# Mac
# Misc
nosetests.xml
.nox/
*.ods~
# ODS/CSV temp
ods_files/
ods_files/*.ods
output_*.pdf
parts/
*.pdf
# PDF and output files
pip-delete-this-directory.txt
pip-log.txt
__pycache__/
*.py[cod]
# pyenv
.pytest_cache/
.Python
.python-version
# Scripts output
sdist/
*.so
*.swp
# Temporary files
*.tmp
.tox/
# Unit test / coverage reports
var/
.vscode/
# VS Code
